<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="style.css" />
</head>

<body>
	<div>
		<pre class="choice">base64encode.org</pre>
	</div>
	<div>
		<pre class="choice">base64decode.org</pre>
	</div>
	<script src="script.js"></script>
</body>

</html>